
.container_registro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header header"
      "content1 content1 content2 content2"
      "content1 content1 content2 content2"
      "footer footer footer footer";
                    }
  
  .header { grid-area: header; 
            text-align: center;      
                  
            }
     
  .content1 { grid-area: content1; 
            text-align: center;
      
            
            }
  
  .content2 { grid-area: content2;
            text-align: center;
                  
            }
  
  .footer { grid-area: footer;
            text-align: center;
            }